<div class="d-flex align-items-center flex-column">
    <h3 class="my-3">Merci de vous authentifier</h3>
    <div class="col my-3 card" style="width: 18rem;">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
                <label for="email" class="form-label">Email *</label>
                <input type="email" formControlName="email" id="email" class="form-control" required
                    placeholder="cassou@lilo.org">
            </div>
            <div class="form-group mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" formControlName="password" id="password" class="form-control" required>
            </div>
            <button type="submit" class=" col btn btn-primary" [disabled]="loginForm.invalid">Vérifier</button>
        </form>
    </div>
    <p>Pas encore de compte ? <a routerLink="auth/register" href="#">Ca se passe ici</a></p>
</div>